<!DOCTYPE HTML>
<html> <head>
<title>Coconut sources</title>
<style type="text/css">
.rev {color:grey}
.who {font-weight:bold}
.comment {white-space:pre;font-style:italic;margin-left:1em;}
</style>
</head>

<body>
<table border="1" cellspacing="0" cellpadding="2">
  <tr><th>Source</th><th>Changes</th><th>Builds</th></tr>
  {% for source in sources %}
  <tr>
   <td>{{source.branch}} <span class="rev"><a href="{% url coconut.views.source source.revision %}">({{source.revision}})</a></span></td>
   <td>
     {% for change in source.changes.all %}
   <div>{{change.branch}} <span class="rev">({{change.revision}})</span>
     by <span class="who">{{change.who}}</span></br>
     <div class="comment">{{change.comments}}</div>
   </div>
      {% endfor %}
     </td>
     <td>
       {% for build in source.builds.all %}
       <div><a href="{% url coconut.views.build build.id %}"><span class="builder">{{build.builder.name}}</span>
	 {{build.buildnumber}} </a></div>
	 {% endfor %}
	 </td>
  </tr>
  {% endfor %}
</table>
<p>
<a href="{% url coconut.views.sources %}?count={{count}}&offset={{next}}{% if exclude_empty %}&exclude_empty{%endif%}">older</a> sourcestamps
{% if not exclude_empty %}
or <a href="{% url coconut.views.sources %}?count={{count}}&exclude_empty{% if offset %}&offset={{offset}}{%endif%}">exclude empty sources</a>
{% endif %}
</p>
</body>
</html>
